* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: bold;
  background: #d9d9d9;
}
.blue{font-family:georgia;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #d9d9d9;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color:#C0C0C0;
  color: black;
  font-weight:bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}



/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #A9A9A9;
}



/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Extra styles for the signup button */
.signup{background-color:#161748;
  
}

/* Add padding to container elements */
.container {
  padding: 16px;

  background-image:url("https://cdna.artstation.com/p/assets/images/images/012/222/908/large/gaelle-marco-background-athena-1.jpg?1533678279")

 }



/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




  
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
 
}